<p id="notice"><%= notice %></p>

<h1>User Goals</h1>

<%= link_to 'New Activity', new_user_activity_path %>
<%= link_to 'New Goal', new_user_goal_path %>

<ul>
  <% @goals.each do |goal| %>
  <li>
    <%= number_with_precision(goal.count, strip_insignificant_zeros: true) %> / <%= number_with_precision(goal.target, strip_insignificant_zeros: true) %>
    <%= goal.met? %>
    <%= link_to 'Add Progress <plus icon>', new_user_activity_path(activity_id: goal.activity_id) %>
    <%= link_to 'Edit <pencil icon>', edit_user_goal_path(goal) %>
    <%= link_to 'Remove <x icon>', goal, method: :delete, data: { confirm: 'Are you sure?' } %>
  </li>
  <% end %>
</ul>
<ul>
  <% @activities.each do |activity| %>
  <li>
    <%= activity.name %> - <%= activity.count %><%= link_to 'Add Progress <plus icon>', new_user_activity_path(activity_id: goal.activity_id) %>
  </li>
  <% end %>
</ul>
