<p id="notice"><%= notice %></p>

<h1>User Goals</h1>

<%= link_to 'New Activity', new_user_activity_path %>
<%= link_to 'New Goal', new_user_goal_path %>

<% @goals.each do |goal| %>
<div class="row">
  <div class="col-md-4 mb-4">
    <div class="card h-100">
      <div class="card-body">
        <h2 class="card-title"><%= goal.title %></h2>
        <div class="progress">
          <div class="progress-bar <%= goal.progress_class %>" role="progressbar" style="width: <%= goal.percent_complete %>%" aria-valuenow="<%=goal.count %>" aria-valuemin="0" aria-valuemax="<%=goal.target %>"></div>
        </div>
        <p class="card-text"><%= number_with_precision(goal.count, strip_insignificant_zeros: true) %> / <%= number_with_precision(goal.target, strip_insignificant_zeros: true) %></p>
        <p class="card-text">
          <%= goal.met? %>
        </p>
      </div>
    </div>
  </div>
</div>
<% end %>

<ul>
  <% @goals.each do |goal| %>
  <li>


    <%= link_to 'Add Progress <plus icon>', new_user_activity_path(activity_id: goal.activity_id) %>
    <%= link_to 'Edit <pencil icon>', edit_user_goal_path(goal) %>
    <%= link_to 'Remove <x icon>', goal, method: :delete, data: { confirm: 'Are you sure?' } %>
  </li>
  <% end %>
</ul>
<ul>
  <% @activities.each do |activity| %>
  <li>
    <%= activity.name %> - <%= activity.count %><%= link_to 'Add Progress <plus icon>', new_user_activity_path(activity_id: goal.activity_id) %>
  </li>
  <% end %>
</ul>



<!-- Heading Row -->
<div class="row my-4">
  <div class="col-lg-8">
    <img class="img-fluid rounded" src="http://placehold.it/900x400" alt="">
  </div>
  <!-- /.col-lg-8 -->
  <div class="col-lg-4">
    <h1>Business Name or Tagline</h1>
    <p>This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!</p>
    <a class="btn btn-primary btn-lg" href="#">Call to Action!</a>
  </div>
  <!-- /.col-md-4 -->
</div>
<!-- /.row -->

<!-- Call to Action Well -->
<div class="card text-white bg-secondary my-4 text-center">
  <div class="card-body">
    <p class="text-white m-0">This call to action card is a great place to showcase some important information or display a clever tagline!</p>
  </div>
</div>

<!-- Content Row -->
<div class="row">
  <div class="col-md-4 mb-4">
    <div class="card h-100">
      <div class="card-body">
        <h2 class="card-title">Card One</h2>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-primary">More Info</a>
      </div>
    </div>
  </div>
  <!-- /.col-md-4 -->
  <div class="col-md-4 mb-4">
    <div class="card h-100">
      <div class="card-body">
        <h2 class="card-title">Card Two</h2>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-primary">More Info</a>
      </div>
    </div>
  </div>
  <!-- /.col-md-4 -->
  <div class="col-md-4 mb-4">
    <div class="card h-100">
      <div class="card-body">
        <h2 class="card-title">Card Three</h2>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-primary">More Info</a>
      </div>
    </div>
  </div>
  <!-- /.col-md-4 -->
</div>
<!-- /.row -->
