<% content_for :head do %>
<%= javascript_include_tag 'dashboard' %>
<% end %>

<div class="row">
  <div class="col-sm p-0 my-auto">
      <h1><%= Time.now.year %> - Goals</h1>
  </div>
  <div class="clearfix visible-xs"></div>
  <div class="col-sm p-0 my-auto text-sm-right">
    <span class="mr-2">Sorted By:</span><%= select_tag :sort, options_for_select(["Magic", "Name", "Progress"].map{ |o| [o, o.downcase] }, params[:sort]) %>
  </div>
</div>
<div class="goal_list">
  <% # render partial: 'goals/list' %>
</div>
<!-- Destroy Goal Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this goal
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<h1 class="pt-4"><%= Time.now.year %> - Activities</h1>
<div class="row">
<% @activities.each do |activity| %>
  <div class="col-w-50 mt-1">
    <div class="card mr-1">
      <div class="card-header">
        <div class="row no-gutters justify-content-between">
          <div class="col">
            <h2 class="mb-0 mr-1"><%= activity.title %></h2>
          </div>
          <div class="col modify-icon-container">
            <%= link_to image_tag(image_path('plus.png'), size:'32x32', class: 'mr-2p'), new_activity_path(activity_id: activity.id) %><%= link_to image_tag(image_path('list_32.png'), size:'32x32'), activities_path(activity_id: activity.id, year: Time.now.year) %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>
<% if @activities.empty? %>
<div class="col card-text">
  You don't have any activities yet...why don't you add one?
</div>
<% end %>
