<h1><%= Time.now.year %> Goals</h1>
<div class="row">
<% @goals.each do |goal| %>
  <div class="col-w-50 mt-1">
    <div class="card mr-1">
      <div class="card-header">
        <div class="row no-gutters justify-content-between">
          <div class="col">
            <h2 class="mb-0"><%= goal.title %></h2>
          </div>
          <div class="col modify-icon-container">
            <%= link_to image_tag(image_path('edit_32.png'), size:'32x32', class: 'mr-2p'), edit_goal_path(goal) %><%= link_to image_tag(image_path('del_32.png'), size:'32x32'), goal_path(goal), data: { method: :delete, confirm: 'Are you sure?' } %>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="progress">
          <div class="progress-bar <%= goal.progress_class %>" role="progressbar" style="width: <%= goal.display_percent_complete %>%" aria-valuenow="<%=goal.display_count %>" aria-valuemin="0" aria-valuemax="<%=goal.display_target %>"></div>
        </div>
        <div class="row no-gutters justify-content-between">
          <div class="col card-text <%= goal.progress_color_class %>">
            <%= goal.progress_description %>
            <%= goal.activity_list_link %>
          </div>
          <div class="col add-icon-container">
            <%= link_to image_tag(image_path('plus.png'), size:'16x16', class:'mt-1 float-right'), new_activity_path(activity_id: goal.activity_id) %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>
<% if @goals.empty? %>
<div class="col card-text">
  You don't have any goals yet...why don't you add one?
</div>
<% end %>

<!-- Destroy Goal Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this goal
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<h1 class="pt-4"><%= Time.now.year %>'s Activities</h1>
<div class="row">
<% @activities.each do |activity| %>
  <div class="col-w-50 mt-1">
    <div class="card mr-1">
      <div class="card-header">
        <div class="row no-gutters justify-content-between">
          <div class="col">
            <h2 class="mb-0 mr-1"><%= activity.title %></h2>
          </div>
          <div class="col modify-icon-container">
            <%= link_to image_tag(image_path('plus.png'), size:'32x32', class: 'mr-2p'), new_user_activity_path(activity_id: activity.id) %><%= link_to image_tag(image_path('list_32.png'), size:'32x32'), user_activities_path(activity_id: activity.id) %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>
<% if @activities.empty? %>
<div class="col card-text">
  You don't have any activities yet...why don't you add one?
</div>
<% end %>
