<%= form_with(model: user_activity, local: true) do |form| %>
  <% if user_activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_activity.errors.count, "error") %> prohibited this user_activity from being saved:</h2>

      <ul>
      <% user_activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render partial: 'activity/form', locals: { form: form, activity_id: params[:activity_id] } %>

  <div class="field">
    <%= form.label :performed_at %>
    <%= form.datetime_select :performed_at %>
  </div>

  <div class="field">
    <%= form.label :perform_count %>
    <%= form.text_field :perform_count %>
  </div>

  <div class="field">
    <%= form.label :details %>
    <%= form.text_area :details %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
