<p id="notice"><%= notice %></p>

<h1>{year} {name} Activities</h1>

<table>
  <thead>
    <tr>
      <th>Performed at</th>
      <th>Count</th>
      <th>Details</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @user_activities.each do |user_activity| %>
      <tr>
        <td><%= user_activity.performed_at %></td>
        <td><%= user_activity.perform_count %></td>
        <td><%= user_activity.details %></td>
        <td><%= link_to image_tag(image_path('edit_32.png'), size:'32x32', class: 'mr-2p'), edit_activity_path(user_activity) %><%= link_to image_tag(image_path('del_32.png'), size:'32x32'), activity_path(user_activity), data: { method: :delete, confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= Rails.application.routes.named_routes.helpers.map(&:to_s) %>
