<% content_for :head do %>
<%= javascript_include_tag 'activity_form' %>
<% end %>

<div class="field">
	<%= form.label :activity_id, 'Activity' %>
	<%= form.collection_select :activity_id, Activity.order(:name), :id, :name, {include_blank: '<NEW>', selected: activity_id}, {class: 'activitySelect'} %>

	<div class="field newActivity">
		<%= form.label :activity_name, 'Name' %>
		<%= form.text_field :activity_name %>
		<%= form.label :activity_unit, 'Unit' %>
		<%= form.text_field :activity_unit, value: "time" %>
	</div>
</div>
<hr/>
