<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @auth.name %>
</p>

<p>
  <strong>Principal:</strong>
  <%= @auth.principal %>
</p>

<%= link_to 'Edit', edit_auth_path(@auth) %> |
<%= link_to 'Back', auths_path %>
