<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @goal.year %>
</p>

<p>
  <strong>Count:</strong>
  <%= @goal.count %>
</p>

<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
