<%= form_with(model: user_goal, local: true) do |form| %>
  <% if user_goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
      <% user_goal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render partial: 'activity/form', locals: { form: form } %>

  <div class="field">
    <%= form.label :year %>
    <%= form.text_field :year, value: Time.now.year %>
  </div>

  <div class="field">
    <%= form.label :target %>
    <%= form.text_field :target %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
